.upload-drop-box {
  height: 120px;
  width: 100%;
  border: 2px solid $light-gray;
  border-radius: 4px;
}
.drag-shadow {
  background: $primary;
  box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: 0.2);
}

.content__box-dotted {

  .row-dotted {
    height: 30px!important;
    span {
      bottom: -7px !important;
    }
  }
  .first-row-dotted {
    height: 22px!important;
  }
}