.bg-dotted {
  background: url("../../../public/assets/images/dots.png"),
    linear-gradient(90deg, #7467ef -19.83%, #ada5f6 189.85%);
  background-repeat: no-repeat;
  background-size: 100%;
}
.circular-image-small {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  overflow: hidden;
}
.card {
  transition: all 0.3s ease;
  &:hover {
    box-shadow: $elevation-z12;
  }
}
.card-title {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
}
.card-subtitle {
  font-size: 0.875rem;
  color: $muted;
  .theme-dark & {
    color: rgba(#fff, 0.54);
  }
}

.hide-on-mobile {
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

.VictoryContainer {
  svg {
    height: 100% !important;
  }
}

.box-shadow-none {
  box-shadow: none !important;
}

.circle-44 {
  height: 44px !important;
  width: 44px !important;
}

.circle-32 {
  height: 32px !important;
  min-height: 32px !important;
  width: 32px !important;

  .MuiFab-root {
    min-height: 32px !important;
  }
  .MuiIcon-root {
    font-size: 13px !important;
  }
}

.show-on-mobile {
  display: none !important;
  @include media(767px) {
    display: inherit !important;
  }
}
.hide-on-mobile {
  display: inherit;
  @include media(767px) {
    display: none;
  }
}
.invisible-on-pc {
  visibility: hidden;
  @include media(767px) {
    visibility: visible;
  }
}

.highlight-js {
  pre {
    white-space: pre-line;
  }
}

.bg-blur {
  backdrop-filter: blur(2px);
}

.word-break {
  word-break: break-all;
}

.animation-ripple {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 1.5px solid currentColor;
    background: inherit;
    animation: ripple 1.2s infinite ease-in-out;
  }
}
