.fade-in {
  @include keyframeMaker(fade-in) {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  animation: fade-in 1s #{bezier()};
}

@keyframes spin {
  0% {transform: rotate(0)}
  100% {transform: rotate(360deg)}
}

.spin {
  animation: spin 3s infinite linear;
}

@keyframes ripple {
   0% {
     transform: scale(.6);
     opacity: 1;
   }

   100% {
     transform: scale(1.4);
     opacity: 0;
   }
}
