@import "../mixins";
$spaces: (
  0: 0px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  8: 8px,
  9: 9px,
  10: 10px,
  12: 12px,
  13: 13px,
  14: 14px,
  15: 15px,
  16: 16px,
  18: 18px,
  20: 20px,
  24: 24px,
  25: 25px,
  28: 28px,
  30: 30px,
  32: 32px,
  36: 36px,
  40: 40px,
  44: 44px,
  48: 48px,
  "cm-h3": 1.5cm,
  // h3: half 3 => 1.5
  "cm-2": 2cm,
  "cm-3": 3cm,
  auto: auto,
);

@include spacing("m", $spaces);
@include spacing("p", $spaces);
@include spacing("g", $spaces);

.ml-4pt {
  margin-left: 4%;
}

.pb-30 {
  @include media(767px) {
    padding-bottom: 16px !important;
  }
}

.pb-1 {
  padding-bottom: 1px;
}

.pb-2 {
  padding-bottom: 2px;
}

.pb-3 {
  padding-bottom: 3px;
}

.px-80 {
  padding-right: 80px;
  padding-left: 80px;

  @media screen and (max-width: 460px) {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
  // @media screen and (max-width: 460px) {
  //   padding-top: 16px;
  //   padding-bottom: 16px;
  // }
}

.py-2 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.p-sm-30 {
  padding: 30px;

  @include media(767px) {
    padding: 16px;
  }
}

.px-sm-30 {
  padding: 0px 30px;

  @include media(767px) {
    padding: 0px 16px;
  }
}

.pr-sm-30 {
  padding-right: 30px !important;

  @include media(767px) {
    padding-right: 16px !important;
  }
}

.p-sm-24 {
  padding: 24px !important;

  @include media(767px) {
    padding: 16px !important;
  }
}

.px-sm-24 {
  padding: 0px 24px !important;

  @include media(767px) {
    padding: 0px 16px !important;
  }
}

.pt-sm-24 {
  padding-top: 24px !important;

  @include media(767px) {
    padding-top: 16px !important;
  }
}

.pl-sm-24 {
  padding-left: 24px !important;

  @include media(767px) {
    padding: 12px !important;
  }
}

.m-auto {
  margin: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.mx-pt-12 {
  margin-top: 12%;
  margin-bottom: 12%;
}

.mb-38 {
  margin-bottom: 38px;
}

.mb-14 {
  margin-bottom: 14px !important;
}

.mb-1 {
  margin-bottom: 1px;
}

.mb-2 {
  margin-bottom: 2px;
}

.ml--12 {
  margin-left: -12px;
}

.m-sm-30 {
  margin: 30px;

  @include media(767px) {
    margin: 16px;
  }
}

.mb-sm-30 {
  margin-bottom: 30px;

  @include media(767px) {
    margin-bottom: 16px;
  }
}

.mt-sm-30 {
  margin-top: 30px;

  @include media(767px) {
    margin-top: 16px;
  }
}

.mx-sm-30 {
  margin-right: 30px;
  margin-left: 30px;

  @include media(767px) {
    margin-right: 16px;
    margin-left: 16px;
  }
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90% !important;
}

.w-100 {
  width: 100%;
}

.min-w-50px {
  min-width: 50px;
}

.min-w-80px {
  min-width: 80px;
}

.min-w-150px {
  min-width: 150px;
}

.min-w-120px {
  min-width: 120px;
}

.min-w-180px {
  min-width: 180px;
}

.min-w-250px {
  min-width: 250px;
}

.w-220 {
  width: 220px;
}

.h-100 {
  height: 100% !important;
}

.h-150 {
  height: 150px !important;
}

.h-320 {
  height: 320px;
}

.h-100vh {
  height: 100vh;
}

.h-100vh-80 {
  height: calc(100vh - 80px);
}

.h-500 {
  height: 500px !important;
}

.h-700 {
  height: 700px;
}

.h-800 {
  height: 800px;
}

.h-48 {
  height: 48px;
}

.h-70 {
  height: 70px;
}

.h-32 {
  height: 32px;
}

.h-56 {
  height: 56px;
}

.min-height-450 {
  min-height: 450px;
}

.max-height-50px {
  max-height: 50px;
}

.size-36 {
  height: 36px !important;
  width: 36px !important;
}

.size-24 {
  height: 24px !important;
  width: 24px !important;
}

.align-bottom {
  vertical-align: bottom !important;
}

.max-width-400 {
  max-width: 400px;
}
