@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

.assetReevaluateDialog .content-right .MuiOutlinedInput-root,
.accreditationDialog .content-right .MuiOutlinedInput-root {
  border-radius: 0 !important;
}
.assetReevaluateDialog .MuiDialog-paper,
.accreditationDialog .MuiDialog-paper {
  overflow: hidden;
}

.accreditationDialog .MuiDialogContent-root:first-child {
  padding-top: 0 !important;
}
.asset_department {
  border-radius: 4px;
  height: 450px;

  &.treeview-bao-cao {
    height: 498px;

    .treeview-title {
      text-indent: 28px;
    }
  }

  .treeview-title {
    padding: 6px 8px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    background: $header-bg;
    color: $white;
  }

  .MuiTreeView-root {
    padding: 8px;
    position: relative;
    min-height: 450px;

    .MuiTreeItem-label {
      padding: 6px 0 6px 8px;
      border-bottom: 0.5px solid #efefef;
    }
    .MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label {
      border-radius: 3px;
    }
  }

  &::-webkit-scrollbar {
    width: 10px;
    height: 15px;
    background: #fff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.001);
  }
  &::-webkit-scrollbar-thumb {
    border: 2px solid white;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.asset_department.summary_report {
  height: auto;
  margin-bottom: 20px;

  > .bg-white {
    position: relative;
    min-height: auto;
  }
}

.w-60 {
  width: 60%;
}

.margin-auto {
  margin: auto;
}

.none_wrap {
  white-space: nowrap !important;
}

.validator-form-scroll-dialog {
  overflow-y: auto !important;
  display: flex !important;
  flex-direction: column !important;

  .MuiBox-root {
    padding: 24px 8px 8px;
  }
}

.logo-login {
  max-width: 400px !important;
  display: flex;
  align-items: center;
}
.logo-login img {
  width: 100% !important;
}

.spaceBetween {
  justify-content: space-between;
}
.alignItemsFlexEnd {
  align-items: flex-end;
}
.justifyContentEnd {
  justify-content: flex-end;
}

.colorRed {
  color: red;
}
.btnRefuse {
  color: #fff !important;
  background: #f44336 !important;
}
.btnClose {
  color: #fff !important;
  position: relative;
}

.tabsStatus {
  .tab {
    min-width: 200px;
    .tabLable {
      position: relative;
    }
    .tabQuantity {
      position: absolute;
      top: -4px;
      left: calc(100% + 5px);
      min-width: 24px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      border: 1px solid;
      font-size: 10px;
      padding: 2px;
      font-weight: 600;
    }
    .tabQuantity-success {
      color: $signal-success !important;
    }
    .tabQuantity-warning {
      color: $signal-warning !important;
    }
    .tabQuantity-error {
      color: $signal-error !important;
    }
    .tabQuantity-info {
      color: $signal-info !important;
    }
  }
}
.iconArrow {
  width: 16px !important;
  height: 16px !important;
  color: #41a200;
  border: 2px solid #41a200;
  border-radius: 50%;
}
.iconEye {
  color: #7467ef;
}
.iconCheck {
  color: #41a200;
}
.searchTable {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.titleSearchs {
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.TabPanelTable {
  .MuiBox-root {
    padding-bottom: 0 !important;
  }
}
.cursor-move {
  cursor: move;
}
.cursor-pointer {
  cursor: pointer;
}
.title-search {
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.image-container {
  width: 130px; /* Set the desired width */
  height: 130px; /* Set the desired height */
  overflow: hidden;
  border: 1px solid #ccc;
}

.image-preview {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and fill the container */
}

.upload-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.upload-text {
  font-size: 16px; /* Adjust font size as needed */
  font-weight: bold; /* Adjust font weight as needed */
  color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Adjust the alpha value (0.6) to control opacity */
  cursor: pointer;
}
.tabs-status-maintain {
  .MuiTabs-scrollable {
    background: #f5f5f5;
  }
}
.asset-acceptance-form-text-validator {
  .MuiInputBase-input {
    text-align: right;
  }
}
.warning {
  color: #f44336;
  font-style: italic;
}
.asset-acceptance-form {
  .Mui-disabled,
  .MuiFormLabel-root.Mui-disabled,
  .MuiFormControlLabel-label.Mui-disabled {
    color: #000000bc;
    cursor: no-drop;
  }
}
.button-select {
  min-width: 40px !important;
  max-width: 50px !important;
}
.tag-green {
  border-radius: 3px;
  padding: 2px 10px;
  width: fit-content;
  background: #43b54d;
  color: #fff;
  text-align: center;
  font-weight: bold;
}
.tag-orange {
  border-radius: 3px;
  padding: 2px 10px;
  width: fit-content;
  background: #ff9e43;
  color: #fff;
  text-align: center;
  font-weight: bold;
}
.tag-red {
  border-radius: 3px;
  padding: 2px 10px;
  width: fit-content;
  background: #e52d00;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.status {
  margin: auto;
  display: block;
  min-width: 80px;
  max-width: 150px;
  padding: 4px 6px;
  border-radius: 6px;

  &-success {
    color: #fff !important;
    background-color: $signal-success !important;
  }

  &-warning {
    color: #fff !important;
    background-color: $signal-warning !important;
  }

  &-error {
    color: #fff !important;
    background-color: $signal-error !important;
  }

  &-info {
    color: #fff !important;
    background-color: $signal-info !important;
  }
}
.Toastify__toast {
  &--success {
    background-color: $signal-success !important;
  }

  &--warning {
    background-color: $signal-warning !important;
  }

  &--error {
    background-color: $signal-error !important;
  }

  &--info {
    background-color: $signal-info !important;
  }
}

.align-center {
  text-align: center;
}
.bg-maintain-plaining-infor {
  background: #f1f3ff;
}

.inputPrice input {
  text-align: right !important;
}

.hidden-row {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select-button {
  min-width: 40px !important;
  max-width: 40px !important;
}

.departmentFilterStore {
  transform: translateY(6px) !important;
  input {
    padding-left: 10px !important;
  }
}
.login-checkbox {
  margin: 0px 0 10px;

  .MuiCheckbox-colorSecondary.Mui-checked {
    color: #ffffff !important;
  }
  .PrivateSwitchBase-input {
    color: #ffffff !important;
  }
}
.login {
  .MuiFormLabel-root {
    color: black !important;
  }
  label {
    color: black !important;
  }
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .app-name,
  .unit-name {
    text-align: center;
    color: #f5f8fa !important;
    text-transform: uppercase;
    font-size: 24px;
    img {
      height: 150px;
    }
  }

  .login-header {
    color: #1a5e83 !important;
  }

  .form-container {
    width: 428px;
    max-height: 360px;
    padding: 20px;
    background-color: $white;
    border-radius: 9px;
    backdrop-filter: blur(1px);
  }
  .userName,
  .password {
    .MuiInputBase-input {
      background: rgb(232 240 254);
      border-radius: 5px;
      color: black !important;
      height: 0;
    }

    .MuiFormLabel-root.Mui-focused {
      color: black;
    }
  }
  .userName {
    .MuiInputBase-input {
      border: 1px solid #1c20261a !important;
    }
  }
  .password {
    .MuiInputBase-input {
      border-left: 1px solid #1c20261a !important;
      border-top: 1px solid #1c20261a !important;
      border-bottom: 1px solid #1c20261a !important;
    }
  }
  ::-ms-reveal {
    display: none;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0) inset;
    // transition: background-color 5000s ease-in-out 0s;
    background: rgb(232 240 254) !important;
  }
  .MuiSvgIcon-root {
    color: #1a5e83;
  }
  .MuiOutlinedInput-adornedEnd {
    color: black !important;
    background: rgb(232 240 254);
  }
}

.highlight-note-container {
  position: absolute;
  z-index: 10;
  bottom: 30px;
  width: 400px;
  left: 30px;
  gap: 5px;

  span {
    border-radius: 5px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.05);
  }

  .over-expected {
    background: #facaca;
  }

  .expected-today {
    background: #ffe9d2;
    color: #d97c25;
  }

  .expected-next-ten-days {
    background: #ffffd1;
    color: #7e7e07;
  }
}

.statusFilter {
  label {
    padding-left: 8px;
    color: #92949b;
  }
  @media (max-width: 959px) {
    top: -36px !important;
  }
}

.MuiSwitch-root {
  overflow: unset !important;
}

.sub-table-loading {
  position: absolute;
  z-index: 111;
  background: rgba(255, 255, 255, 0.5);
}

.max-height-none {
  max-height: none;
}
.text-red-italic {
  color: red;
  font-style: italic;
}

.row-dotted-form-container {
  > div {
    height: 24.5px !important;
  }
  > div:nth-child(1) {
    height: 21px !important;
  }
}

.chu-ky-container {
  min-height: 100px;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: inset 0px 10px 5px -10px rgba(0, 0, 0, 0.1),
    inset 0px -10px 5px -10px rgba(0, 0, 0, 0.1);

  &.multiple-chu-ky {
    min-height: 200px;
    max-height: 350px;
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.mt {
  &_12px {
    margin-top: 12px !important;
  }
}

.bao-cao {
  .MuiTableRow-root:hover:not(.MuiTableRow-footer) {
    position: static !important;
    box-shadow: none !important;
    z-index: 0 !important;
  }
}

.flex-auto {
  flex: auto !important;
}

.checkbox-kd {
  margin: 0;
}

.MuiAppBar-root {
  &.MuiAppBar-colorDefault {
    background-color: $white;
  }

  .MuiTab-root {
    overflow: visible;
    max-width: fit-content;

    &.Mui-selected:not(.Mui-disabled) {
      .MuiTab-wrapper {
        color: $text-primary;
      }
    }

    &.MuiTab-textColorPrimary:not(.Mui-disabled) {
      color: $primary;
    }
  }

  .MuiTabs-indicator {
    background-color: $primary;
  }
}
.tabs-container {
  &.MuiTabs-vertical {
    .MuiButtonBase-root {
      color: $primary;

      &.Mui-selected:not(.Mui-disabled) {
        background: $primary-light-active;
        color: $dark-primary;
        margin: 0 12px;
        border-radius: 5px;
        font-weight: 600;
      }
    }

    [class*="PrivateTabIndicator-colorPrimary-"] {
      background-color: $dark-primary;
    }
  }
}
.MuiDialog-paper {
  .MuiAppBar-root {
    &.MuiAppBar-colorDefault {
      background-color: #e7ebf2;
    }
  }
}

// Table
.MuiPaper-root {
  &.MuiPaper-rounded {
    [class*="Component-horizontalScrollContainer-"] {
      > div {
        margin-top: -1px;
      }
    }
  }
}
.MuiTable-root {
  background-color: $white;
  //header
  .MuiTableHead-root {
    .MuiTableRow-root {
      &.MuiTableCell-paddingNone {
        padding: 0 !important;
      }

      &.MuiTableRow-head {
        background: $white;
        position: sticky;
        left: 0;
        top: 0;
        z-index: 2;

        .MuiTableCell-root {
          &.MuiTableCell-head {
            background-color: $header-bg !important;
            color: $white !important;
            padding: 7px 10px 6px 10px !important;
            text-align: center;
            border: 1px solid $table-border !important;

            .MuiCheckbox-root {
              margin-left: 0 !important;
            }
            .MuiSvgIcon-root {
              margin-left: 0 !important;
              color: $white;
            }
          }
        }
      }
    }
  }

  //body
  .MuiTableBody-root {
    .MuiTableRow-root {
      &.MuiTableCell-paddingNone {
        padding: 0 !important;
      }

      &:hover:not(.MuiTableRow-footer) {
        position: sticky;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
        z-index: 1;

        .MuiTableCell-root {
          border: 1px solid $table-border;
        }
      }

      .MuiTableCell-root {
        &.MuiTableCell-body {
          padding: 6px 10px;
          border: 1px solid $table-border;

          &:first-child {
            //border-left-width: 0;
          }

          &.MuiTableCell-alignLeft {
            text-align: left;
          }
          &.MuiTableCell-alignCenter {
            text-align: center;
          }

          .MuiCheckbox-root {
            margin-left: 0 !important;
          }

          .MuiIcon-colorPrimary {
            color: $primary;
          }
        }
      }
    }
  }
}

// Input
.MuiFormControl-root {
  .MuiFormLabel-root:not(.Mui-disabled, .Mui-error) {
    color: $black;
    &.Mui-focused:not(.Mui-disabled) {
      color: $text-primary;
      input {
        color: black;
      }
    }
  }

  .MuiInput-underline:not(.Mui-error) {
    &:not(.Mui-error):after {
      border-bottom-color: $primary;
    }
  }
}
.MuiInputBase-root {
  &.MuiInput-underline:not(.Mui-error) {
    &::after,
    &:hover:not(.Mui-disabled):before {
      border-color: $text-primary;
    }
  }
}
.MuiOutlinedInput-root {
  &.Mui-focused:not(.Mui-disabled) {
    fieldset {
      &.MuiOutlinedInput-notchedOutline {
        border-color: $primary;
      }
    }
  }
}

.MuiAutocomplete-noOptions,
.MuiAutocomplete-loading {
  color: $primary !important;
}
.MuiAutocomplete-listbox {
  .MuiAutocomplete-option[aria-selected="true"] {
    background-color: var(--primary-active);
    color: $white;
  }
  .MuiAutocomplete-option[data-focus="true"] {
    background-color: $primary-hover;
    color: $black;
  }
}

// Date picker
.MuiPickersModal-dialog {
  .MuiPickersToolbar-toolbar {
    background-color: $primary;

    button {
      .MuiPickersToolbarText-toolbarTxt {
        color: $white !important;
      }
    }

    .MuiPickersToolbarText-toolbarTxt {
      color: rgba($white, 0.54) !important;
    }
  }

  .MuiDialogActions-root {
    background-color: $primary-light-active;
  }

  .MuiPickerDTTabs-tabs {
    background-color: $primary;

    .MuiTabs-scroller {
      > span {
        &.MuiTabs-indicator {
          background-color: $Orange;
        }
      }
    }
  }

  .MuiPickersClock-clock {
    background-color: rgba($secondary, 0.5);

    .MuiPickersClock-pin,
    .MuiPickersClockPointer-pointer,
    .MuiPickersClockPointer-noPoint {
      background-color: $text-primary;
    }

    .MuiPickersClockPointer-thumb {
      border-color: $text-primary;
    }
  }

  .MuiPickersDay-daySelected {
    background-color: $primary;
    color: $white;

    &:not(.Mui-disabled):hover {
      background-color: $dark-primary;
    }
  }

  .MuiIconButton-root:not(.MuiPickersDay-daySelected) {
    &:hover {
      background-color: $primary-hover;
      color: $text-primary;

      .MuiSvgIcon-root {
        color: $primary;
      }
    }
  }

  .MuiPickersDay-current:not(.MuiPickersDay-daySelected) {
    color: $text-primary;
  }

  .MuiPickersMonth-root {
    color: $primary;

    &:focus {
      color: $text-primary;
    }
  }
  .MuiPickersYear-root {
    color: $text-default;

    &:focus {
      color: $text-primary;
    }
  }
}

.MuiIcon-colorPrimary,
.MuiTypography-colorPrimary,
.MuiCircularProgress-colorPrimary,
.MuiButton-textPrimary {
  color: $primary !important;
}

.MuiLinearProgress-bar {
  &.MuiLinearProgress-barColorPrimary {
    background-color: $primary;
  }
}

.MuiIconButton-root:not(.Mui-disabled) {
  cursor: pointer;

  &.MuiButton-containedPrimary {
    background-color: $primary !important;
  }

  &:hover {
    background-color: $primary-light-hover;
  }

  .MuiSvgIcon-root:not(.MuiSvgIcon-colorError, .MuiSvgIcon-colorSecondary, .MuiSvgIcon-colorAction) {
    color: $dark-primary;
  }
}

.MuiButton-containedPrimary.Mui-disabled {
  color: rgba(0, 0, 0, 0.26);
  background-color: rgba(0, 0, 0, 0.12) !important;
}
.MuiButton-containedPrimary:not(.Mui-disabled) {
  &.MuiButtonBase-root {
    background-color: $primary;
  
    &:hover {
      background-color: $dark-primary;
    }
  }
}

.MuiTypography-root {
  &.MuiTypography-caption {
    color: $text-primary;
  }
}

.square {
  position: relative;
  svg {
    display: none;
  }
  &:hover {
    svg {
      content: "";
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      padding: 2px;
      top: 5px;
      right: 5px;
      cursor: pointer;
      fill: #ff0f00;
      // border: 2px solid #001c40;
      // border-radius: 50%;
    }
  }
}

.square::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% 50%;
  cursor: pointer;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  &:hover {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    transition: all 0.5s;
  }
}

.simple-card {
  .tabs {
    .MuiTabs-flexContainer {
      gap: 4px;
    }

    .MuiTab-root {
      &.tab {
        min-width: 80px;
        min-height: auto;
        color: $secondary;
        background-color: $primary-light-hover;
        border: 1px solid $light-secondary;
        border-radius: 4px;

        &.Mui-selected:not(.Mui-disabled) {
          color: $primary;
          font-weight: bold;
          //background-color: $white;
          border-color: $primary;
          border-width: 1.5px;
        }
      }
    }

    .MuiTabs-indicator {
      display: none;
    }
  }
}
