
.fz-lg {
  font-size: 0.975rem;
}
.fz-xm {
  font-size: 0.875rem;
}
.fz-m {
  font-size: 0.8rem;
}
.print {
  size: auto;
  margin: 0;
}

.max-width-4 {
  max-width: 4%;
}
.max-width-8 {
  max-width: 8%;
}
.max-width-11 {
  max-width: 11%;
}
.max-width-12 {
  max-width: 12%;
}
.max-width-20 {
  max-width: 20%;
}
.max-width-25 {
  max-width: 25%;
}