@import "../../variables";

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $bg-menu;
  color: $text-primary;
  z-index: 999;
  height: $footer-height;
  box-shadow: 0px -1px 5px #cccccc94;
}
.container {
  padding: 0 20px; /* Adjust the padding as needed */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0px 36px;
}
.icon_m {
  margin-right: 8px;
}
.note {
  color: $highlight-red;
}
.user,
.language,
.office {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  padding: 0 10px;
  color: $black;

  i {
    color: $primary;
  }
}

.language span {
  cursor: pointer;
  margin-right: 10px;
}
.language-active {
  font-weight: 600;
  color: $highlight-goldenrod;
}