@import "../../variables";

.sidenav {
  position: fixed;
  top: 0;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  // overflow: hidden;
  z-index: 99;
  box-shadow: $elevation-z8;
  width: $sidenav-width;

  .sidenav > .scrollable {
    width: $sidenav-width;
  }

  .sidenav__hold {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    z-index: 3;
    padding-bottom: 37px;
    > .scrollable {
      margin-bottom: 42px;
    }
    // Sidebar overlay
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
    }
    .brand-area {
      width: $sidenav-width;
      padding: 13px 18px;
      .brand {
        img {
          height: 24px;
          margin: auto;
        }
        .brand__text {
          color: $text-primary;
          font-weight: bold;
          font-size: 1.125rem;
          text-align: center;
        }
      }
    }
    .sidenav__user {
      width: $sidenav-width;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem 0.5rem 0.5rem;
      .username-photo {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 30%;
        margin-bottom: 8px;
        background-color: #e8eaf6;
      }
      .username {
        color: $text-primary;
        font-weight: 600;
        text-transform: uppercase;
        padding: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .material-icons {
          font-size: 13px;
        }
      }
      
      }
    }
    .sidenav__login_logout {
      color: $text-primary;
      position: absolute;
      bottom: 37px;
      width: 100%;
      left: 0;
      .user__menu {
        color: $text-primary;
        display: flex;
        justify-content: center;
        z-index: 100;

        > div {
          padding: 3%;
          cursor: pointer;
          &:hover {
            background: rgba(0, 0, 0, 0.04);
            border-radius: 50%;
            > button {
              background: rgba(0, 0, 0, 0);
            }
          }
        }
        button {
          color: $text-primary !important;
          font-weight: 600;
          &:hover {
            background: rgba(0, 0, 0, 0.04);
          }
        }
        .icon-logout {
          color: $text-primary !important;
          font-weight: 600;
        }
      button {
        color: $text-primary;
      }
    }
  }
}

.sidenav-mobile {
  .sidenav {
    width: $sidenav-width;
  }
  .sidenav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.54);
    z-index: -1;
  }
}

.navigation {
  margin: 10px;
  button.nav-item {
    padding: 0 10px;
  }
  .nav-item {
    // display: flex;
    justify-content: space-between;
    height: 48px;
    margin: 5px 0; //menu
    // min-width: calc($sidenav-width - 20px);
    button {
      // padding: 0 10px;
      padding: 0 10px;
    }
    
    &:hover {
      // color: $white !important;
      // background: rgba($text-primary, 0.8);
      background: $primary-hover;
      // margin: 0 12px;
      // border-radius: 7px;
      border-radius: 5px;
      .item-text,
      .item-icon,
      .item-arrow span{
        color: $text-primary !important;
      }
    }
    &.active {
      position: relative;
      color: $white;
      background: $primary;
      border-radius: 5px;
      //color: $white;
      // margin: 0 12px;
      // border-radius: 7px;
      .item-text,
      .item-icon,
      .item-arrow span {
        z-index: 10;
        color: $white !important;
      }
    }
    &.parent-active {
      position: relative;
      color: $text-primary ;
      background: $primary-hover;
      border-radius: 5px;
      .item-text,
      .item-icon,
      .item-arrow span {
        z-index: 10;
        color: $text-primary ;
      }

      .hover-bridge {
        position: fixed;
        top: 0;
        right: -40px;
        height: 100%;
        width: 40px;
        background: #000;
      }

    }
    > button {
      justify-content: flex-start;
    }
    .item-icon {
      font-size: 18px;
      color: $text-primary;
      padding-right: 20px;
    }
    .item-text {
      font-size: 0.875rem;
      text-align: left;
      color: $text-primary;
      font-weight: 600;
      // max-width: 120px;
      // text-overflow: ellipsis;
      // white-space: nowrap;
      // overflow: hidden;
    }
    .icon-text {
      display: inline-block;
      height: 20px;
      width: 20px;
      line-height: 20px;
    }
    .item-arrow {
      span {
        font-size: 18px;
        color: $text-primary;
        font-weight: 600;
      }
    }
  }
  .submenu {
    position: relative;
    background: rgba($bg-menu-item-hover, 0.48);
    &:before,
    &:after {
      content: "";
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      z-index: 3;
    }
    &:before {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent);
      top: 0;
    }
    &:after {
      background: linear-gradient(-180deg, rgba(0, 0, 0, 0.06), transparent);
      bottom: 0;
    }
    .nav-item {
      height: 44px;
    }
  }
}
.badge {
  height: 20px;
  padding: 0 8px;
  margin: 0 4px 0 auto;
  border-radius: 12px;
  line-height: 20px;
  font-weight: 500;
}

.menu-popover {
  > div {
    background: none;
  }
}

.anchor-container {
  overflow: visible !important;
  z-index: 1000;
  box-shadow: 0 2px 8px -5px rgba($text-primary, 0.4),
    0 -2px 8px -5px rgba($text-primary, 0.4) !important;

  .scrollable {
    max-width: 180px;
    position: relative;
    box-shadow: 0 7px 7px -12px darkolivegreen inset,
      0 -7px 7px -12px darkolivegreen inset;

  }
}

