.signature-title {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 5px !important;
}

.date-signature {
    font-size: 14pt !important;
}

.signature-container {
    margin-top: 0px !important;
}


.content-dotted {
    top: -6px !important;
}

.dotted-item {
    height: 28px !important;
}

.mb-40 {
    margin-bottom: 40px;
}