<div class="form-print">
    <div style="justify-content: space-between; display: flex; align-items: center;">
        <div>
            <div style="display: flex; flex-direction: column; text-align: center;">
                <div style="font-weight: bold; margin: 0px; text-decoration: underline 1px solid; text-transform: uppercase; text-underline-offset: 5px;"></div>
                <p style="font-weight: bold; margin: 0px; text-decoration: underline 1px solid; text-transform: uppercase; text-underline-offset: 5px;">{{currentUser.org.name}}</p>
            </div>
        </div>
        <span style="font-style: italic;">BM01/QT.QT.03</span>
    </div>
    <div style="text-align: center; margin-bottom: 16px;">
        <div style="margin-top: 30px;"><div class="form-print-title" style="font-weight: bold; text-transform: uppercase; text-align: center;">Phiếu yêu cầu sửa chữa</div></div>
        <div style="font-style: italic">Số phiếu: {{arMa}}</div>
    </div>
    <div style="border: 1px solid;">
        <div style="width: 100%; border-collapse: collapse; border-bottom: 0px;">
            <span style="margin: 10px; display: grid; align-items: center; grid-template-columns: 3fr 8fr;">
                <span>Khoa,phòng:</span><span style="overflow-wrap: break-word; display: block; line-height: 13px;">{{arPhongBanText}}</span>
            </span>
            <span style="margin: 10px; display: grid; align-items: center; grid-template-columns: 3fr 8fr;">
                <span>Kính báo cáo thiết bị:</span><span style="overflow-wrap: break-word; display: block; line-height: 13px;">{{tsTen}}</span>
            </span>
        </div>
        <div style="border-top: 1px solid; border-bottom: 1px solid; text-align: left; background: rgb(230, 230, 230);"><strong style="margin: 10px;">1. Sự cố:</strong></div>
        <div style="min-height: 20px; width: 100%; border-collapse: collapse; position: relative; border-bottom: 0px; border-top: 0px;">
            <div style="overflow-wrap: break-word; display: block; line-height: 25px; margin: 10px;">{{{arNoiDung}}}</div>
           
        </div>
        <div style="display: flex; width: 100%; border-collapse: collapse;">
            <div style="width: 50%; word-break: break-all; text-align: center;"></div>
            <div style="width: 50%; word-break: break-all; text-align: center;">
                <div class="signature-container" style="text-align: center; font-size: 14px; padding-bottom: 80px; margin-top: 11px;">
                    <div class="date-signature">
                        <div style="font-size: inherit; font-style: italic; display: block;"><span> </span><span>Ngày {{day}} tháng {{month}} &nbsp;năm {{year}}</span></div>
                    </div>
                    <div class="signature-title" style="text-transform: uppercase; font-weight: bold; margin-top: 10px;">Trưởng khoa/Phòng sử dụng</div>
                </div>
            </div>
        </div>
        <div style="border-top: 1px solid; border-bottom: 1px solid; text-align: left; background: rgb(230, 230, 230);"><strong style="margin: 10px;">2. Kiểm tra, nêu biện pháp khắc phục&nbsp;</strong></div>
        <div class="table-report" style="min-height: 20px; width: 100%; border-collapse: collapse; position: relative; border-bottom: 0px; border-top: 0px;">
            <span style="overflow-wrap: break-word; display: block; line-height: 25px; margin: 10px;">
               <div id="dottedElArMoTa">{{{arMoTa}}}</div>
               <div id="dottedElArPhanTichSoBo">{{{arPhanTichSoBo}}}</div>
               <div id="dottedElArDeXuatBienPhap">{{{arDeXuatBienPhap}}}</div>
            </span>

        </div>
        <div class="table-report" style="display: flex; width: 100%; border-collapse: collapse;">
            <div class="border-none" style="width: 50%; word-break: break-all;">
                <div class="signature-container" style="text-align: center; font-size: 14px; padding-bottom: 80px;">
                    <div class="signature-title mt-20" style="text-transform: uppercase; font-weight: bold; margin-top: 20px;">Người kiểm tra</div>
                </div>
            </div>
            <div class="border-none" style="width: 50%; word-break: break-all;">
                <div class="signature-container" style="text-align: center; font-size: 14px; padding-bottom: 80px;">
                    <div class="signature-title mt-20" style="text-transform: uppercase; font-weight: bold; margin-top: 20px;">Trưởng phòng HCQT</div>
                </div>
            </div>
        </div>
        <div style="border-top: 1px solid; border-bottom: 1px solid; text-align: left; background: rgb(230, 230, 230);"><strong style="margin: 10px;">3. Kết quả sửa chữa, khắc phục</strong></div>
        <div class="table-report" style="min-height: 50px; width: 100%; border-collapse: collapse; position: relative; border-bottom: 0px; border-top: 0px;">
            <span style="overflow-wrap: break-word; display: block; line-height: 25px; margin: 10px;"><div style="width: 100%;">
                {{#arNghiemThus}}
                    <div style="display: grid; grid-template-columns: 1fr 1fr">
                        <div>
                            <div>Hạng mục:</div>
                            <div style="padding-left: 10px; line-height: 20px">{{{arNtHangMuc}}}</div>
                        </div>
                        <div>
                            <div>Kết luận:</div>
                            <div style="padding-left: 10px; line-height: 20px">{{{arNtKetLuan}}}</div>
                        </div>
                    </div>
                {{/arNghiemThus}}
            </div></span>
        </div>
        <div style="display: flex; margin: 10px;">
            <div style="width: 20%; word-break: break-all; text-align: left;">Tình trạng:</div>
            <div style="width: 40%; word-break: break-all; text-align: left;">&nbsp;<input type="checkbox" {{#isOk}}checked=""{{/isOk}} />&nbsp; Đạt yêu cầu</div>
            <div style="width: 40%; word-break: break-all; text-align: left;">&nbsp;<input type="checkbox" {{#isNotOk}}checked=""{{/isNotOk}} />&nbsp; Chưa đạt yêu cầu</div>
        </div>
        <div style="width: 97%; margin: 20px auto; border: 1px solid; border-collapse: collapse;">
            <div style="display: flex;">
                <div style="width: 20%; font-weight: 600; text-align: center;padding: 5px"">Người sửa chữa</div>
                <div style="width: 20%; font-weight: 600; text-align: center; border-left: 1px solid; padding: 5px">Người sử dụng thiết bị</div>
                <div style="width: 20%; font-weight: 600; text-align: center; border-left: 1px solid; padding: 5px">Trưởng khoa/Phòng sử dụng</div>
                <div style="width: 20%; font-weight: 600; text-align: center; border-left: 1px solid; padding: 5px">Cán bộ phòng HCQT</div>
                <div style="width: 20%; font-weight: 600; text-align: center; border-left: 1px solid; padding: 5px">Trưởng phòng HCQT</div>
            </div>
            <div style="display: flex;">
                <div style="height: 100px; width: 20%; font-weight: 600; text-align: center;padding: 5px""></div>
                <div style="height: 100px; width: 20%; font-weight: 600; text-align: center; border-left: 1px solid;padding: 5px""></div>
                <div style="height: 100px; width: 20%; font-weight: 600; text-align: center; border-left: 1px solid;padding: 5px""></div>
                <div style="height: 100px; width: 20%; font-weight: 600; text-align: center; border-left: 1px solid;padding: 5px""></div>
                <div style="height: 100px; width: 20%; font-weight: 600; text-align: center; border-left: 1px solid;padding: 5px""></div>
            </div>
        </div>
    </div>
</div>
