<div class="form-print">
    <div>
        <div>
            <div style="display: flex; justify-content: space-between;">
                <div style="display: flex; flex-direction: column; align-items: flex-start;">
                    <div style="font-weight: bold; margin: 0px; text-decoration: underline 1px solid; text-transform: uppercase; text-underline-offset: 5px;">{{currentUser.org.name}}</div>
                </div>
                <div style="display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; margin-right: 50px;">
                    <span style="text-align: center; border: none;">Mã số TB</span><span>Số phiếu quản lý: {{arMa}}</span>
                </div>
            </div>
        </div>
        <div>
            <div style="margin-top: 30px;"><div class="form-print-title" style="font-weight: bold; text-transform: uppercase; text-align: center;">Biên bản nghiệm thu sửa chữa thiết bị</div></div>
        </div>
    </div>
    <div>
        <div style="text-decoration: underline; font-style: italic; margin: 20px 0px 10px;"><b style="padding: 0px 4px;">Thông tin thiết bị</b></div>
        <div style="margin-left: 20px; text-align: justify;">Thiết bị:&nbsp;{{tsTen}}</div>
        <div style="margin-left: 20px; text-align: justify;">Số lượng: ....................</div>
        <div style="margin-left: 20px; text-align: justify;">Model:&nbsp;{{tsModel}}</div>
        <div style="margin-left: 20px; text-align: justify;">Seri:&nbsp;{{tsSerialNo}}</div>
    </div>
    <div>
        <div style="text-decoration: underline; font-style: italic; margin: 20px 0px 10px;"><b style="padding: 0px 4px;">Hiện trạng/Công việc cần thực hiện</b></div>
        <div style="margin-left: 20px; text-align: justify;">
            <div>Mô tả sự cố:<br>{{{arMoTa}}}</div>
            <div style="margin-top: 10px;">Phân tích sơ bộ nguyên nhân:<br>{{{arPhanTichSoBo}}}</div>
            <div style="margin-top: 10px;">Đề xuất biện pháp:<br>{{{arDeXuatBienPhap}}}</div>
        </div>
    </div>
    <div style="text-decoration: underline; font-style: italic; margin: 20px 0px 10px;"><b style="padding: 0px 4px;">Vật tư cần sử dụng</b></div>
    <table style="width: 100%; border: 1px solid; border-collapse: collapse; margin-top: 15px; margin-bottom: 15px;">
        <tr>
            <th style="border: 1px solid; width: 6%; text-align: center;">STT</th>
            <th style="border: 1px solid; width: 23%; text-align: center;">Linh kiện thiết bị</th>
            <th style="border: 1px solid; width: 23%; text-align: center;">Tên vật tư sử dụng</th>
            <th style="border: 1px solid; width: 12%; text-align: center;">Số lượng</th>
            <th style="border: 1px solid; width: 18%; text-align: center;">Đơn giá</th>
            <th style="border: 1px solid; width: 18%; text-align: center;">Thành tiền</th>
        </tr>
        {{#arLinhKienVatTus}}
            <tr>
                <td style="border: 1px solid; text-align: center;">{{index}}</td>
                <td style="text-align: left; border: 1px solid;">{{nameOfRequiredMaterial}}</td>
                <td style="text-align: left; border: 1px solid;">{{productName}}</td>
                <td style="border: 1px solid; text-align: center;">{{productQty}}</td>
                <td style="text-align: right; border: 1px solid;">{{productCost}}</td>
                <td style="text-align: right; border: 1px solid;">{{productTotal}}</td>
            </tr>
        {{/arLinhKienVatTus}}
        {{#isSuaChuaNgoai}}
            <tr>
            <td colspan="5" style="text-align: left; border: 1px solid;">Chi phí sửa chữa, phát sinh</td>
            <td style="text-align: right; border: 1px solid;">{{arChiPhi}}</td>
        </tr>
        {{/isSuaChuaNgoai}}
        <tr>
            <td colspan="5" style="text-align: left; border: 1px solid;">Tổng chi phí</td>
            <td style="text-align: right; border: 1px solid;">{{arTongChiPhi}}</td>
        </tr>
    </table>

    <table style="width: 100%; border: 1px solid; border-collapse: collapse; margin-top: 15px; margin-bottom: 15px;">
        <thead>
            <tr>
                <th style="border: 1px solid; text-align: center;">Người sử dụng TB</th>
                <th style="border: 1px solid; text-align: center;">Khoa/Phòng quản lý</th>
                <th style="border: 1px solid; text-align: center;">Khoa/Phòng sử dụng</th>
                <th style="border: 1px solid; text-align: center;">Người sửa chữa, bảo dưỡng</th>
                <th style="border: 1px solid; text-align: center;">Ngày hoàn thành</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="border: 1px solid; text-align: center; padding: 5px 5px 50px;"></td>
                <td style="border: 1px solid; text-align: center; padding: 5px 5px 50px;"></td>
                <td style="border: 1px solid; text-align: center; padding: 5px 5px 50px;"></td>
                <td style="border: 1px solid; text-align: center; padding: 5px 5px 50px;"></td>
                <td style="border: 1px solid; text-align: center; padding: 5px 5px 50px;">{{arNtThoiGian}}</td>
            </tr>
        </tbody>
    </table>
    <div style="display: grid;">
        <div>
            <div style="text-decoration: underline; font-style: italic; margin: 0px;"><b style="padding: 0px 4px;">Nghiệm thu kết quả bảo dưỡng/ sửa chữa</b></div>
            <div style="display: flex; flex-flow: column wrap; justify-content: space-between; min-height: 88%;">
                <div style="display: flex; flex-wrap: wrap;">
                    {{#arNghiemThus}}
                        <table style="width: 100%; border: 1px solid; border-collapse: collapse;">
                            <tr>
                                <th style="border: 1px solid; width: 50%; text-align: center;">Hạng mục</th>
                                <th style="border: 1px solid; width: 50%; text-align: center;">Kết luận</th>
                            </tr>
                            <tr>
                                <td style="border: 1px solid; text-align: justify; padding: 10px;">{{{arNtHangMuc}}}</td>
                                <td style="border: 1px solid; text-align: justify; padding: 10px;">{{{arNtKetLuan}}}</td>
                            </tr>
                        </table>
                    {{/arNghiemThus}}
                </div>
                <div style="display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; margin-right: 50px; padding: 4px 8px 0px;">
                    <span>Kết luận sau khi sửa chữa, bảo dưỡng</span>
                    <div style="display: flex; justify-content: space-around;">
                       {{#checked}}
                        <div>Thiết bị sử dụng được &nbsp;<input type="checkbox" checked="" /></div>
                        <div style="margin-left: 20px;">Thiết bị không sử dụng được &nbsp;<input type="checkbox /></div>
                        {{/checked}}
                        {{^checked}}
                        <div>Thiết bị sử dụng được &nbsp;<input type="checkbox" /></div>
                        <div style="margin-left: 20px;">Thiết bị không sử dụng được &nbsp;<input type="checkbox" checked="" /></div>
                        {{/checked}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>