<div class="form-print">
    <div>
        <div style="display: flex; justify-content: space-between;">
             <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <div style="font-size: 18px; font-weight: bold; margin: 0px; text-decoration: none; text-transform: uppercase; text-underline-offset: 5px;">{{itemEdit.currentUser.org.name}}</div>
            </div>
            <div style="display: flex; flex-direction: column; align-items: flex-end; font-style: italic"><div style=" margin-bottom: 0px;">BM01/QT.QT.04</div></div>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center;">
            <div style="margin-top: 30px;"><div class="form-print-title" style="font-weight: bold; text-transform: uppercase; text-align: center; font-size: 23px;">Phiếu xác Định Nhu Cầu Cần Mua</div></div>
            <div style="text-align: center; font-style: italic">Số phiếu: {{itemEdit.code}}</div>
        </div>
        <div>
            <div style="padding-bottom: 10px; font-size: 18px;">Căn cứ vào nhu cầu công tác.</div>
            <div style="padding-bottom: 10px; font-size: 18px;">Khoa, phòng: {{{itemEdit.requestDepartmentName}}}.</div>
            <div style="padding-bottom: 10px; font-size: 18px;">Cần trang thiết bị sau:</div>
        </div>
        <div>
            <table style="width: 100%; border-collapse: collapse;">
                <thead>
                    <tr style="border: 1px solid;">
                        <th style="border-left: 1px solid; padding: 4px; width: 5%;">TT</th>
                        <th style="border-left: 1px solid; padding: 4px; width: 26%;">Danh mục</th>
                        <th style="border-left: 1px solid; padding: 4px; width: 10%;">ĐVT</th>
                        <th style="border-left: 1px solid; padding: 4px; width: 10%;">Số lượng</th>
                    </tr>
                </thead>
                <tbody>
                    {{#itemEdit.purchaseProducts}}
                        <tr style="border: 1px solid;">
                            <td style="border-left: 1px solid; padding: 4px; text-align: center;">{{index}}</td>
                            <td style="border-left: 1px solid; padding: 4px;">{{productName}}</td>
                            <td style="border-left: 1px solid; padding: 4px; text-align: center;">{{skuName}}</td>
                            <td style="border-left: 1px solid; padding: 4px; text-align: center;">{{quantity}}</td>
                        </tr>
                    {{/itemEdit.purchaseProducts}}
                </tbody>
            </table>
            <div>
              {{#itemEdit.evaluationContent}}
                <div style="padding-top: 10px; font-size: 18px;">
                  Đánh giá {{{itemEdit.requestDepartmentName}}}:
                </div>
                <div style="padding-top: 10px; font-size: 18px; padding-left: 10px;">
                  {{{itemEdit.evaluationContent}}}
                </div>
              {{/itemEdit.evaluationContent}}
              {{#itemEdit.confirmationContent}}
                <div style="padding-top: 10px; font-size: 18px;">
                  Xác nhận phòng {{{itemEdit.receptionDepartmentName}}}:
                </div>
                <div style="padding-top: 10px; font-size: 18px; padding-left: 10px;">
                  {{{itemEdit.confirmationContent}}}
                </div>
              {{/itemEdit.confirmationContent}}
            </div>
            <div class="mb-40" style="font-size: 18px; margin: 10px 0px 0px 2em;">Vậy kính đề xuất lãnh đạo Bệnh viện xét duyệt.</div>
        </div>
        <div style="margin: 16px 0px 0px; text-align: end;">
            <div style="font-size: inherit; font-style: italic; display: block;"><span> {{addressOfEnterprise}}, </span><span>ngày&nbsp;{{day}}&nbsp; tháng&nbsp;{{month}}&nbsp; năm&nbsp;{{year}}</span></div>
        </div>
        <div style="display: flex; justify-content: space-between; padding: 0px 1em;">
            <div class="signature-container" style="text-align: center; font-size: 18px; padding-bottom: 80px;">
                <div style=" font-weight: bold; ">Trưởng phòng HCQT</div>
            </div>
            <div class="signature-container" style="text-align: center; font-size: 18px; padding-bottom: 80px;">
                <div style=" font-weight: bold; ">Trưởng khoa/phòng sử dụng</div>
            </div>
        </div>
        <div style="margin-top: 20px;">
            <div class="signature-container" style="text-align: center; font-size: 18px; padding-bottom: 80px;">
                <div style=" font-weight: bold; margin-top: 45px;">Lãnh đạo Bệnh viện</div>
            </div>
        </div>
    </div>
</div>
