<div class="form-print">
    <div>
        <div style="display: flex; justify-content: space-between;">
            <div style="display: flex; align-items: center; flex-direction: column; width: 50%;">
                <div style="display: flex; align-items: center; justify-content: center;">
                    <div style="display: flex; flex-direction: column; text-align: center;">
                        <div style="font-weight: bold; margin: 0px; text-underline-offset: 5px;">
                            {{organizationName}}
                        </div>
                    </div>
                </div>
                <div style="text-transform: uppercase;">{{dataPhieu.assetManagementDepartmentName}}</div>
                <div style="width: 50%; height: 1px; background: #000;"></div>
            </div>
            <div style="width: 60%; display: flex; flex-direction: column; align-items: flex-end;">
                <div>
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <div style="margin: 0px; font-weight: bold; text-underline-offset: 5px;">
                            CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM
                        </div>
                        <div style="margin: 0px; font-weight: bold; text-underline-offset: 5px;">
                            <div>Độc lập - Tự do - Hạnh phúc</div>
                            <div style="width: 70%; margin: 0 auto; height: 1px; background: #000;"></div>
                        </div>
                    </div>
                </div>
                <div style="margin: 16px 0 0 0; text-align: right;">
                    <div style="font-style: italic;">{{addressOfEnterprise}}, ngày {{day}} tháng {{month}} năm {{year}}</div>
                </div>
            </div>
        </div>

        <div style="text-align: center; margin-bottom: 30px; margin-top: 30px; font-weight: bold; text-transform: uppercase; line-height: 1.3;" class="form-print-title">
            Biên bản điều chuyển<br />
            tài sản - công cụ dụng cụ
        </div>

        <div style="font-size: 1.07rem; margin-bottom: 8px;">
            <div style="font-size: 1.07rem;">
                &nbsp;&nbsp; Căn cứ chức năng, nhiệm vụ và quyền hạn của Giám đốc {{organizationName}}.
            </div>
            <div style="font-size: 1.07rem;">
                &nbsp;&nbsp; - Căn cứ vào tính hình sử dụng tài sản trang thiết bị y tế, công cụ dụng cụ và nhu cầu sử dụng của:
                <br />
                <div style="display: flex;">
                    &nbsp;&nbsp; - Khoa/Phòng:
                    <div style="min-width: 140px;">&nbsp;{{dataPhieu.handoverDepartmentName}}</div>
                    &nbsp;<i> (bên giao)</i>
                </div>
                <div style="display: flex;">
                    &nbsp;&nbsp; - Khoa/Phòng:
                    <div style="min-width: 140px;">&nbsp;{{dataPhieu.receiverDepartmentName}}</div>
                    &nbsp;<i> (bên nhận)</i>
                </div>
                &nbsp;&nbsp; - Giám đốc bệnh viện đa khoa Vân Đình quyết định điều chuyển một số tài sản, công cụ dụng cụ sau đây từ Khoa, Phòng: {{dataPhieu.handoverDepartmentName}}.
                <br />
                &nbsp;&nbsp; - Về Khoa/Phòng: {{dataPhieu.receiverDepartmentName}}.
            </div>
        </div>
    </div>
    <div style="font-size: 1.07rem;">
        <table style="width: 100%; border-collapse: collapse; border: 1px solid; font-size: 1rem;">
            <thead style="border: 1px solid;">
                <tr style="border: 1px solid;">
                    <th style="border-left: 1px solid; padding: 4px; font-size: 0.85rem; width: 2%;">TT</th>
                    <th style="border-left: 1px solid; padding: 4px; font-size: 0.85rem; width: 15%;">Tên tài sản, nhãn hiệu, qui cách mẫu mã</th>
                    <th style="border-left: 1px solid; padding: 4px; font-size: 0.85rem; width: 6%;">Đơn vị tính</th>
                    <th style="border-left: 1px solid; padding: 4px; font-size: 0.85rem; width: 5%;">Số lượng</th>
                    <th style="border-left: 1px solid; padding: 4px; font-size: 0.85rem; width: 10%;">Tình trạng tài sản</th>
                </tr>
            </thead>

            <tbody>
                {{#dataPhieu.assetVouchers}}
                <tr style="border: 1px solid;">
                    <td style="border-left: 1px solid; padding: 4px; font-size: 0.85rem; text-align: center;">{{index}}</td>
                    <td style="border-left: 1px solid; padding: 4px; font-size: 0.85rem;">{{assetName}}</td>
                    <td style="border-left: 1px solid; padding: 4px; font-size: 0.85rem; text-align: center;">{{assetUnitName}}</td>
                    <td style="border-left: 1px solid; padding: 4px; font-size: 0.85rem; text-align: center;">{{quantity}}</td>
                    <td style="border-left: 1px solid; padding: 4px; font-size: 0.85rem;">{{assetStatusName}}</td>
                </tr>
                {{/dataPhieu.assetVouchers}}
            </tbody>
        </table>
        &nbsp;&nbsp; - Đã tổ chức bàn giao cho khoa/phòng và đủ điều kiện vận hành, hoạt động (sử dụng) phục vụ công tác chuyên môn.
        <br />
      <pre style="font: inherit; text-indent: -20px">
        Từ hồi          ngày       tháng       năm 20
      </pre>
    </div>
    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;" class="mt-20">
        <div>
            <div class="signature-container" style="text-align: center; font-size: 14px; padding-bottom: 80px;">
                <div class="signature-title" style="text-transform: uppercase; font-weight: bold; font-size: 12px; margin-top: 20px;">Thủ trưởng đơn vị</div>
            </div>
        </div>
         <div>
            <div class="signature-container" style="text-align: center; font-size: 14px; padding-bottom: 80px;">
                <div class="signature-title" style="text-transform: uppercase; font-weight: bold; font-size: 12px; margin-top: 20px;">Kế toán tài sản</div>
                <div style="font-style: italic;">(Ký, ghi rõ họ tên)</div>
            </div>
        </div>
        <div>
            <div class="signature-container" style="text-align: center; font-size: 14px; padding-bottom: 80px;">
                <div class="signature-title" style="text-transform: uppercase; font-weight: bold; font-size: 12px; margin-top: 20px;">Đại diện phòng quản lý</div>
                <div style="font-style: italic;">(Ký, ghi rõ họ tên)</div>
            </div>
        </div>
    </div>
    <div style="display: grid; grid-template-columns: 1fr 1fr;" class="mt-20">
        <div>
            <div class="signature-container" style="text-align: center; font-size: 14px; padding-bottom: 80px;">
                <div class="signature-title" style="text-transform: uppercase; font-weight: bold; font-size: 12px; margin-top: 20px;">Đại diện khoa, phòng giao tài sản</div>
                <div style="font-style: italic;">(Ký, ghi rõ họ tên)</div>
                <div style="font-weight: bold; margin-top: 100px; text-transform: capitalize;">{{dataPhieu.handoverPersonName}}</div>
            </div>
        </div>
        <div>
            <div class="signature-container" style="text-align: center; font-size: 14px; padding-bottom: 80px;">
                <div class="signature-title" style="text-transform: uppercase; font-weight: bold; font-size: 12px; margin-top: 20px;">Đại diện khoa, phòng nhận tài sản</div>
                <div style="font-style: italic;">(Ký, ghi rõ họ tên)</div>
                <div style="font-weight: bold; margin-top: 100px; text-transform: capitalize;">{{dataPhieu.receiverPersonName}}</div>
            </div>
        </div>
    </div>
</div>