<div class="form-print">
    <div>
        <div style="display: flex; justify-content: space-between;">
            <div style="width: 80%;">
                <div style="display: flex; flex-direction: column; align-items: flex-start;">
                    <div style="font-size: 18px; font-weight: bold; margin: 0px; text-decoration: none; text-transform: uppercase; text-underline-offset: 5px;">{{itemEdit.currentUser.org.name}}</div>
                </div>
                <div style="font-weight: bold; text-underline-offset: 5px;">{{itemEdit.requestDepartmentName}}</div>
            </div>
            <div style="width: 100%;">
                <div>
                    <div style="display: flex; flex-direction: column; align-items: center;">
                        <div style="margin: 0px; font-weight: bold; text-underline-offset: 5px;">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</div>
                        <div style="margin: 0px; font-weight: bold;">Độc lập - Tự do - Hạnh phúc</div>
                        <div style="width: 100px; border-bottom: .5px solid #000;"></div>
                    </div>
                </div>
                <div style="margin: 16px 0px 0px; text-align: center;">
                    <div style="font-size: inherit; font-style: italic; display: block;"><span> {{addressOfEnterprise}}, </span><span>ngày&nbsp;{{day}}&nbsp; tháng&nbsp;{{month}}&nbsp; năm&nbsp;{{year}}</span></div>
                </div>
            </div>
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center;">
            <div style="margin-top: 30px;"><div class="form-print-title" style="font-weight: bold; text-transform: uppercase; text-align: center; font-size: 23px;">Phiếu xác Định Nhu Cầu Thiết Bị</div></div>
            <div style="font-style: italic; text-align: center;">Số phiếu: {{itemEdit.code}}</div>
            <div style="display: flex; margin: 10px 0px 20px 9em;">
                <div><b>Kính gửi: </b></div>
                <div>
                    <div>&nbsp; - &nbsp;Ban Giám đốc Bệnh viện</div>
                    <div>&nbsp; - &nbsp;{{{itemEdit.receptionDepartmentName}}}</div>
                </div>
            </div>
        </div>
        <div style="margin-left: 2em;">
            <div style="padding-bottom: 10px; font-size: 18px;">- Căn cứ vào nhu cầu khám, chữa bệnh, công tác;</div>
            <div style="padding-bottom: 10px; font-size: 18px;">- Căn cứ vào định hướng phát triển của bệnh viện, của khoa/phòng;</div>
            <div style="padding-bottom: 10px; font-size: 18px;">&nbsp;&nbsp;Khoa, phòng: {{{itemEdit.requestDepartmentName}}}.</div>
            <div style="padding-bottom: 10px; font-size: 18px;">Có nhu cầu sử dụng TTBYT:</div>
        </div>
        <div>
            <table style="width: 100%; border-collapse: collapse;">
                <thead>
                    <tr style="border: 1px solid;">
                        <th style="border-left: 1px solid; padding: 4px; width: 5%;">STT</th>
                        <th style="border-left: 1px solid; padding: 4px; width: 25%;">Tên thiết bị, dụng cụ</th>
                        <th style="border-left: 1px solid; padding: 4px; width: 10%;">ĐVT</th>
                        <th style="border-left: 1px solid; padding: 4px; width: 10%;">Số lượng hiện có</th>
                        <th style="border-left: 1px solid; padding: 4px; width: 10%;">Số lượng đề xuất</th>
                        <th style="border-left: 1px solid; padding: 4px; width: 20%;">Thuyết minh trang bị (kỹ thuật áp dụng)</th>
                        <th style="border-left: 1px solid; padding: 4px; width: 20%;">Ghi chú</th>
                    </tr>
                </thead>
                <tbody>
                    {{#itemEdit.purchaseProducts}}
                        <tr style="border: 1px solid;">
                            <td style="border-left: 1px solid; padding: 4px; text-align: center;">{{index}}</td>
                            <td style="border-left: 1px solid; padding: 4px;">{{productName}}</td>
                            <td style="border-left: 1px solid; padding: 4px; text-align: center;">{{skuName}}</td>
                            <td style="border-left: 1px solid; padding: 4px; text-align: center;">{{availableQuantity}}</td>
                            <td style="border-left: 1px solid; padding: 4px; text-align: center;">{{quantity}}</td>
                            <td style="border-left: 1px solid; padding: 4px;">{{productSpecs}}</td>
                            <td style="border-left: 1px solid; padding: 4px;">{{note}}</td>
                        </tr>
                    {{/itemEdit.purchaseProducts}}
                    <tr style="border: 1px solid;">
                        <td style="border-left: 1px solid; padding: 4px; text-align: center;"></td>
                        <td style="border-left: 1px solid; padding: 4px; text-align: center;"><b>Tổng cộng</b></td>
                        <td style="border-left: 1px solid; padding: 4px; text-align: center;"></td>
                        <td style="border-left: 1px solid; padding: 4px; text-align: center;">{{totalavailableQuantity}}</td>
                        <td style="border-left: 1px solid; padding: 4px; text-align: center;">{{totalquantity}}</td>
                        <td style="border-left: 1px solid; padding: 4px; text-align: center;"></td>
                        <td style="border-left: 1px solid; padding: 4px; text-align: center;"></td>
                    </tr>
                </tbody>
            </table>
            <div style="font-size: 18px; margin: 10px 0px 0px 20px;">Vậy khoa/phòng kính đề nghị Ban Giám đốc Bệnh viện xét duyệt.</div>
        </div>
        <div style="page-break-inside: avoid">
          <div style="display: flex; justify-content: space-between; padding: 0px 1em;">
            <div style="text-align: center; font-size: 14px; padding-bottom: 50px;">
              <div  style="text-transform: uppercase; font-weight: bold; margin-top: 20px;">
                {{itemEdit.bv199Signature}}
              </div>
              <div style="font-style: italic;">(Ký, ghi rõ họ tên)</div>
            </div>
            <div style="text-align: center; font-size: 14px; padding-bottom: 50px;">
              <div style="text-transform: uppercase; font-weight: bold; margin-top: 20px;">
                Lãnh đạo Khoa/Phòng
              </div>
              <div style="font-style: italic;">(Ký, ghi rõ họ tên)</div>
            </div>
          </div>
          <div style="margin-top: 20px;">
            <div style="text-align: center; font-size: 14px; padding-bottom: 50px;">
              <div style="text-transform: uppercase; font-weight: bold; margin-top: 45px;">Giám
                đốc
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
