<div class="form-print" style="text-align: center; width: 21cm; margin: auto; font-size: 18px;">
    <div style="display: flex; justify-content: space-between;">
        <div style="text-align: center; font-weight: bold; width: 45%;">
            <div>{{titleName.org.name}}</div>
            <div style="text-decoration: underline 1px solid; text-transform: uppercase; text-underline-offset: 5px;">{{dataPrint.phongBanLapText}}</div>
        </div>
        <div>
            <div style="display: flex; flex-direction: column; align-items: center;">
                <div style="margin: 0px; font-weight: bold; text-underline-offset: 5px;">CỘNG HÒA XÃ HỘI CHỦ NGHĨA VIỆT NAM</div>
                <div style="margin: 0px; font-weight: bold;">Độc lập - Tự do - Hạnh phúc</div>
                <div style="width: 100px; height: 1px; background: #000;"></div>
            </div>
        </div>
    </div>
    <div style="margin-top: 30px;"><div class="form-print-title" style="font-weight: bold; text-transform: uppercase; text-align: center;">ĐỀ XUẤT BẢO TRÌ, BẢO DƯỠNG</div></div>
    <div>Số phiếu: {{dataPrint.dxMa}}</div>
    <div style="display: flex; justify-content: center; text-align: start; margin-top: 20px;">
        <span> Kính gửi:&nbsp;</span>
        <span>
            <div>- Lãnh đạo bệnh viện;</div>
            <div>- {{dataPrint.tnPhongBanText}}</div>
        </span>
    </div>
    <div style="text-align: left;">
        <div style="text-indent: 1em;">
            {{dataPrint.dxNoiDung}}
        </div>
    </div>
    <div style="text-align: center;">
        <div>
            <table style="width: 100%; border: 1px solid; border-collapse: collapse; font-size: 13px">
              <thead>
                <tr>
                  <th style="border: 1px solid; width: 5%; text-align: center;">STT</th>
                  <th style="border: 1px solid; width: 10%;">Mã TS/ Mã QL</th>
                  <th style="border: 1px solid; width: 16%;">Tên thiết bị</th>
                  <th style="border: 1px solid; width: 7%;">Số hiệu</th>
                  <th style="border: 1px solid; width: 6%; text-align: center;">ĐVT</th>
                  <th style="border: 1px solid; width: 7%; text-align: center;">SL</th>
                  <th style="border: 1px solid; width: 7%; text-align: center;">NSX</th>
                  <th style="border: 1px solid; width: 7%; text-align: center;">NSD</th>
                  <th style="border: 1px solid; width: 7%; text-align: center;">HSX/Nước SX</th>
                  <th style="border: 1px solid; width: 13%;">Hình thức</th>
                  <th style="border: 1px solid; width: 15%; text-align: center;">Ghi chú</th>
                </tr>
              </thead>
              <tbody>
                  {{#dataPrint.assets}}
                      <tr>
                          <td style="border: 1px solid; text-align: center;">{{index}}</td>
                          <td style="border: 1px solid; text-align: left; padding: 10px; word-break: break-word;">
                              Mã TS: <br />
                              {{tsMa}}<br />
                              Mã QL: {{tsMaquanly}}<br />
                          </td>
                          <td style="border: 1px solid; text-align: left; padding: 10px; word-break: break-word;">{{tsTen}}</td>
                          <td style="border: 1px solid; text-align: left; padding: 10px;">
                              Model:<br />
                              {{tsModel}}<br />
                              Seri: {{tsSerialNo}}<br />
                          </td>
                          <td style="border: 1px solid; text-align: center; padding: 10px;">{{tsDvtTen}}</td>
                          <td style="border: 1px solid; text-align: center; padding: 10px;">{{ckSoluong}}</td>
                          <td style="border: 1px solid; text-align: center; padding: 10px;">{{tsNamsx}}</td>
                          <td style="border: 1px solid; text-align: center; padding: 10px;">{{tsNamsd}}</td>
                          <td style="border: 1px solid; text-align: left; padding: 10px;">{{tsHangsx}}</td>
                          <td style="border: 1px solid; text-align: center; word-break: break-word;">{{chinhthucText}}</td>
                          <td style="border: 1px solid; text-align: center; word-break: break-word;">{{ghiChu}}</td>
                      </tr>
                  {{/dataPrint.assets}}
              </tbody>
            </table>
        </div>
        <div style="display: flex; justify-content: space-between; margin-top: 20px; align-items: flex-start; padding-left: 30px;">
            <div>
                <div class="mt-24" style="width: 100%; height: 4px;"></div>
                <div class="signature-container" style="text-align: center; font-size: 14px; padding-bottom: 80px;">
                    <div class="signature-title mt-20" style="text-transform: uppercase; font-weight: bold; font-size: 18px; margin-top: 45px;">Người lập</div>
                    <div style="font-weight: bold; margin-top: 80px; text-transform: capitalize;">{{dataPrint.nguoiLapText}}</div>
                </div>
            </div>
            <div class="signature-container" style="text-align: center; font-size: 14px; padding-bottom: 80px; margin-top: 11px;">
                <div class="date-signature">
                    <div style="font-size: inherit; font-style: italic; display: block;"><span> Hà Nội, </span><span>ngày&nbsp;{{dataPrint.day}}&nbsp; tháng&nbsp;{{dataPrint.month}}&nbsp; năm&nbsp;{{dataPrint.year}}</span></div>
                </div>
                <div class="signature-title" style="text-transform: uppercase; font-weight: bold; font-size: 18px; margin-top: 10px;">Trưởng khoa</div>
            </div>
        </div>
    </div>
</div>
