@import "../../variables";

.sidenav,
.topbar,
.content-wrap {
  transition: all 0.3s ease;
}

.sidenav .scrollable {
  width: $sidenav-width;
}

.layout1 {
  height: 100%;

  .content-wrap {
    flex: 1 1 auto;
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    height: 100%;

    .breadcrumb-responsive {
      margin-top: -15px;
    }

    .topbar {
      top: 0;
      z-index: 96;
      // height: $topbar-height;
      background: linear-gradient(180deg,
          rgba(255, 255, 255, 0.95) 44%,
          rgba(247, 247, 247, 0.4) 50%,
          rgba(255, 255, 255, 0));

      .topbar-hold {
        position: relative;
        box-shadow: 5px 1px 3px -4px rgba(0, 0, 0, 0.06), 0px -2px 9px 1px rgba(0, 0, 0, 0.042), 0px 3px 14px 2px rgba(0, 0, 0, 0.036);
        height: $topbar-hold-height;
        border-radius: inherit;
        padding: 0 1rem;
      }
    }

    .scrollable-content {
      display: flex;
      flex-direction: column;
      position: relative;
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;
      margin-bottom: $footer-height;

      .content {
        position: relative;
      }

      .option-summary-report {
        min-width: 200px;
        position: fixed;
        top: 10.5px;
        right: 2%;
        z-index: 98;
        transition: all 0.25s ease-in-out;
        label {
          margin: 0 !important;
        }
      }
      .option-summary-report-no-position {
        label {
            margin: 0 !important;
          }
      }

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        background: $white;
        width: 15px;
        padding: 2px;
      }

      &::-webkit-scrollbar-thumb {
        border: 2px solid white;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .3);
        margin: 3px;
      }
    }
  }

  // Fixed Topbar

  // sidenav full
  &.sidenav-full {
    .sidenav {
      // width: $sidenav-width;
      left: 0;

      .sidenav__toggle {
        // display: block;
      }
    }

    .content-wrap {
      width: 100%;
      vertical-align: top;
    }
  }

  // sidenav compact
  &.sidenav-compact {
    .sidenav {
      width: $sidenav-compact-width;
      overflow: hidden;

      .brand-area {
        .brand__text {
          display: none;
        }
      }

      .scrollable {
        .sidenav__user {
          .username-photo {
            align-items: flex-start;
          }

          img {
            height: 1.8rem;
            width: 1.8rem;
          }

          .username,
          .user__menu {
            display: none;
          }
        }

        .navigation {
          .nav-item {
            padding: 0;
            width: 48px;
            overflow: hidden;
            justify-content: center;
            margin-left: 6px;
            border-radius: 2px;

            .item-text,
            .item-arrow,
            .badge {
              display: none;
            }

            >button {
              justify-content: center;
            }
          }
        }
      }

      // COMPACT HOVER
      &:hover {
        width: $sidenav-width;

        .brand-area {
          .brand__text {
            display: inline-block;
          }
        }

        .scrollable {
          width: $sidenav-width;

          .sidenav__user {
            .username-photo {
              align-items: center;
            }

            img {
              height: 4rem;
              width: 4rem;
            }

            .username,
            .user__menu {
              display: flex;

              >button {
                color: $text-menu-main !important;
                font-weight: 600;
                display: contents;
              }
            }
          }

          .navigation {
            button.nav-item {
              padding: 0 20px;
            }

            .nav-item {
              // padding: 0 20px;
              width: 100%;
              justify-content: space-between;
              margin-left: 0;
              border-radius: 0;

              .item-text,
              .item-arrow,
              .badge {
                display: inline-block;
              }

              >button {
                justify-content: flex-start;
              }
            }
          }
        }
      }
    }

    .content-wrap {
      width: 100%;
      vertical-align: top;
      margin-left: $sidenav-compact-width;
    }
  }

  // closed sidenav
  &.sidenav-close {
    .sidenav {
      // width: 0px;
      left: -#{$sidenav-width};
    }

    .content-wrap {
      width: 100%;
      vertical-align: top;
      margin-left: 0px;

      .topbar {
        width: 100%;
      }
    }
  }

  // mobile sidenav
  &.sidenav-mobile {
    .sidenav {
      width: $sidenav-width;
    }

    .content-wrap {
      width: 100%;
      vertical-align: top;
      margin-left: 0px;

      .topbar {
        width: 100%;
      }
    }
  }

  .anchor-container {
    height: 0;
    width: 0;
    position: relative;
    /* Màu nền của tam giác */

    &::after {
      content: "";
      z-index: 100;
      position: absolute;
      top: -11px;
      left: 10px;
      height: 0;
      width: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid #fff;
    }
  }
}


.MuiButton-contained {
  box-shadow: none !important;
}

.mp-0 .MuiBox-root {
  margin: 20px 0 0;
  padding: 0;
}

.MuiTabs-root .Mui-disabled.MuiButtonBase-root.MuiTabScrollButton-root.MuiTabs-scrollButtons.Mui-disabled {
  display: none;
}

.MuiAppBar-colorDefault {
  color: $white;
  border-radius: 10px;

}

.MuiAppBar-colorDefault .MuiTabs-scrollable {
  border-radius: 10px !important;
}

//css Table báo cáo
.table-report .MuiTableCell-root.MuiTableCell-head,
.table-report th {
  background-color: $white !important;
  color: black;
  font-weight: bold;
  font-size: 14px;
  white-space: pre;
}

.table-report .MuiTableCell-root {
  font-family: 'Times New Roman', Times, serif
}

.table-report .MuiTableCell-root.MuiTableCell-body,
.table-report th,
.table-report td {
  border: 1px solid #444 !important;
  background-color: #fff !important;
  //border: 1px solid black;
}

//css biểu mẫu 
.dialog-print {
  background-color: #EAEAEA;

  .MuiGrid-root.MuiGrid-container {
    justify-content: space-around;
  }

  .form-print-landscape {
    max-width: 1200px !important;
  }

  .form-print {
    background-color: #fff;
    width: 23cm;
    margin: 0 auto;
    padding: 20px 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5 !important;

    table th {
      background-color: #fff !important;
    }

    @media (max-width: 1366px) {
      max-width: 850px;
    }

    ul {
      margin: 0 !important;
    }
  }

  p {
    font-size: 18px !important;
  }

  ul.form-print-list-none li {
    list-style-type: none;
  }

  ul.form-print-list li,
  ul.form-print-list {
    list-style-type: "- " !important;

    p {
      margin: 5px;
    }
  }

  .form-print-title {
    font-weight: 600;
    font-size: 16pt;
  }

  .font-italics {
    font-size: 13pt;
    font-style: italic;
    font-weight: 300 !important;
  }

  .font-weight {
    font-weight: 600 !important;
    padding: 5px;
    margin: 0;
  }

  .small-letters {
    font-size: 12.5pt;
    text-align: center;
    padding: 5px;
    margin: -10px;
  }
}

.buttonAsset .activeButton {
  color: #FFF;
  background-color: $primary;

  &:hover {
    color: #FFF;
    background-color: $dark-primary;
  }
}

.buttonAsset .activeButton .MuiButton-root:hover {
  color: #FFF;
  background-color: $dark-primary;
}

.buttonAsset .MuiButton-root:hover:not(.activeButton) {
  color: $text-primary;
  background-color: $primary-light-hover;
}

.container-topbar-navigation {
  display: grid !important;
  grid-template-columns: 1fr 4fr 1fr;
  background: linear-gradient(181deg, $primary 30%, $light-primary 120%);
  color: #eee;

  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .logo-menu {
      a {
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 1px;

        img {
          width: 25px;
        }
      }
    }
  }

  .topbar-navigation {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    // padding-top: 10px;
    padding: 10px;
    gap: 5px;

    button.nav-item {
      padding: 0 10px;
    }

    .nav-item-container {
      display: flex;
      align-items: center;
    }

    .nav-item {
      width: max-content;
      display: flex;
      height: 40px;
      justify-content: space-between;
      min-width: 180px;
      border-radius: 10px;
      text-align: center;
      flex-wrap: wrap;

      .item-text,
      .item-icon,
      .item-arrow span {
        color: $white !important;
      }

      &:hover {
        color: $black !important;
        background: $white;

        .item-text,
        .item-icon,
        .item-arrow span {
          color: $primary !important;
          font-weight: 600;
        }
      }

      &.active {
        position: relative;
        color: $black !important;
        background: $white;
        border-radius: 5px;

        .item-text,
        .item-icon,
        .item-arrow span {
          z-index: 10;
          color: $primary !important;
          font-weight: 600;
        }
      }

      >button {
        justify-content: flex-start;
      }

      .item-icon {
        font-size: 18px;
        color: $primary;
      }

      .item-text {
        font-size: 0.875rem;
        text-align: left;
        color: $primary;
        // font-weight: 600;
        margin: 0 auto;
      }

      .icon-text {
        display: inline-block;
        height: 21px;
        width: 21px;
        line-height: 21px;
      }

      .item-arrow {
        span {
          font-size: 18px;
          color: $primary;
          font-weight: 600;
        }
      }
    }

    .submenu {
      position: relative;
      background: rgba($bg-menu-item-hover, 0.48);

      &:before,
      &:after {
        content: "";
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        z-index: 3;
      }

      &:before {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent);
        top: 0;
      }

      &:after {
        background: linear-gradient(-180deg, rgba(0, 0, 0, 0.06), transparent);
        bottom: 0;
      }

      .nav-item {
        height: 44px;
      }
    }
  }

  .account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 48px 10px 0;
    cursor: pointer;

    .sidenav__user {
      .username-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }

      img {
        height: 30px;
        width: 30px;
        background-color: #fff;
        border-radius: 6px;
      }

      .username {
        color: #FFFFFF;
        div {
          text-overflow: ellipsis;
          overflow-x: hidden;
          max-width: 150px;
          text-wrap: nowrap;
        }
      }
    }
  }
}

.menu-item-user {
  text-decoration: none;

  &:hover {
    background-color: $primary-light-hover !important;

    a {
      text-decoration: none;
    }

    span {
      color: $secondary !important
    }
  }
}

.popover-container {
  >div:nth-child(3) {
    transform: translateY(10px) !important;
    overflow: hidden;
    min-width: 60%;
    // max-height: 500px;
  }
}

.popover-container-no-children {
  >div:nth-child(3) {
    transform: translateY(10px) !important;
    overflow: hidden;
    min-width: 40%;
    // max-height: 500px;
  }
}

.topbar-card-menu>div {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.topbar-card-menu {
  .tab-panel-container {
    overflow: auto;
    max-height: 400px;
  }

  .topbar-card-menu-content {
    display: flex;
    flex-direction: column;

    .main-content {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .border-bottom {
      border-bottom: 2px solid #E8ECFC;
    }
  }

  .Mui-selected {
    color: $primary !important;
  }

  .Mui-disabled {
    display: none;
  }

  .appbar-menu-card {
    box-shadow: none;
    overflow: auto;
    max-height: 400px;
    padding-right: 10px;

    .title-appbar-menu {
      font-weight: bold;
      color: $primary;
      font-size: 1.1rem;
    }

    .tab-item.active {
      background-color: $primary-light-active;
      border-radius: 5px 0 0 5px;
    }

    .tab-item {
      width: 100%;
      text-align: left;
      display: flex;
      justify-content: flex-start;

      .label-item {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        width: 100%;

        .icon-item-right {
          padding-left: 10px;
        }

        .icon-item-left {
          padding-right: 10px;
        }
      }

      .label-item.no-children {
        grid-template-columns: 1fr;

        a {
          display: flex
        }
      }
    }
  }

  .label-menu-item {
    color: $black;
    min-width: 120px;
    display: flex;
    border-radius: 5px;
    height: fit-content;

    button {
      padding: 10px;
      justify-content: left;
      text-align: left;

      >span {
        border-radius: 5px;
      }
    }

    &:hover {
      background-color: $primary-hover;
      color: $primary;

      button {
        font-weight: bold;
      }
    }

    &.active {
      position: relative;
      background-color: $primary-light-active;
      color: $primary;
      border-radius: 5px;

      // margin: 0 12px;
      // border-radius: 7px;
      button {
        font-weight: bold;
      }

      .item-text,
      .item-icon,
      .item-arrow span {
        z-index: 10;
        color: $white !important;
        font-weight: bold;
      }
    }
  }

  .tab-panel-menu-item {
    >div {
      padding: 0;
    }

    .array-item-children-container {
      // display: flex;
      // justify-content: space-around;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      div:empty {
        display: none !important;
      }
    }
  }
}
